/TheMonkeyKing/TheMonkeyKing.sln
/TheMonkeyKing/TheMonkeyKing.userprefs
/TheMonkeyKing/Library
/TheMonkeyKing/TheMonkeyKing.csproj
/Bandicam
/Build
/TheMonkeyKing/.vs
/TheMonkeyKing/Temp
*.swp
/TheMonkeyKing/Assembly-CSharp.csproj
